RewriteEngine on

RewriteCond %{REQUEST_URI} !^/public
RewriteCond %{REQUEST_URI} ^/css [OR]
RewriteCond %{REQUEST_URI} ^/js [OR]
RewriteCond %{REQUEST_URI} ^/images [OR]
RewriteCond %{REQUEST_URI} ^/fonts
RewriteRule (.*) /public/$1 [L]

RewriteCond %{REQUEST_URI} !^/public
RewriteRule ^ /public/index.php [L]